.nav {
    background-color: #22262a;
}

@media screen and ( min-width: 576px ) {
    .nav {
        height: 100vh;
    }
}

.main {
    height: 100vh;
}

.textarea {
    height: 3.9em;
}

.output {
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: auto;
}